<footer class="sand">
    <span class="footer-text">Powered by <a href="https://gohugo.io/" target="_blank">Hugo</a></span>
</footer>
<link rel="stylesheet" href="{{ "css/solarized-light.css" | absURL }}"/>
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
