{{ define "main" }}
<main id="home">
    <div id="about" class="grape">
        <div class="container">
	    <div class="avatar">
		{{ with .Site.Params.avatar }}
		<img src="{{ . }}" alt="Avatar">
		{{ end }}
	    </div>
            <div id="content">
                {{ .Content }}
            </div>
        </div>
    </div>

    <div id="recent-posts" class="sand">
	<div class="container">
            <h2>Manifesto</h2>
            <ul>
              Our manifesto is one way we share our culture with the community. It’s an evolving collection of bold thoughts that allow for some real conversations to take place. Get to know our manifesto and learn more about what lights our fire.
            </ul>
	    <h2>About us</h2>
	    <ul>Complex challenges become opportunities when viewed from many perspectives. The depth and breadth of the our team, our focus on forming stronger, collaborative relationships, and our legacy of examining the finest details reveal new perspectives for our clients. Our ability to connect human insights with advanced technology helps our clients realize the potential of infinite possibilities. When you only see possible, you redefine the impact you can make.
	    </ul>	
        </div>
    </div>
</main>
{{ end }}
